[submodule "EpoxyTransport"]
	path = EpoxyTransport
	url = https://github.com/MercuryWorkshop/EpoxyTransport
[submodule "Ultraviolet"]
	path = Ultraviolet
	url = https://github.com/titaniumnetwork-dev/Ultraviolet
[submodule "bare-mux"]
	path = bare-mux
	url = https://github.com/MercuryWorkshop/bare-mux
[submodule "bare-as-module3"]
	path = bare-as-module3
	url = https://github.com/MercuryWorkshop/bare-as-module3
[submodule "CurlTransport"]
	path = CurlTransport
	url = https://github.com/MercuryWorkshop/CurlTransport
