body, html, #app {
  font-family: "Inter", system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
  width:100vw;
  height:100vh;
  margin: 0;
  padding: 0;
  background-color:#121212;
  overflow: hidden;
  background-image: url('/fortnite.jpg');
  background-size: 100vw 100vh;
}